<!DOCTYPE html>
<html>
<head>
  <title>BucketListApp</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600italic,600,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-relational/0.9.0/backbone-relational.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.2/mustache.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.2/js.cookie.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="app"></div>

<div id="bucketlist">

  <div id="add-item"></div>


  <div id="bucketlistItems" class="personal-bucketlist"></div>

</div>

<script type="text/x-underscore-template" id="add-item-template">
  <form action="#" id="add">
    <i class="fa fa-plus"></i>
    <input type="text" class="add-item" id="number" name="number" placeholder="enter bucket list number"/>
    <input type="text" class="add-item" id="description" name="description" placeholder="what do you want to do?"/>
    <input type="text" class="add-item" id="location" name="location" placeholder="enter a location?"/>
    <input type="submit" value="ADD"/>
  </form>
</script>

<script type="text/x-underscore-template" id="list-item">

    <h2 class="number">{{ number }}</h2>
    <p class="description italic bold">{{ description }}</p>
    <p class="location italic bold">{{ location }}</p>
    <button class="edit button">EDIT <i class="fa fa-pencil"></i></button>
    <button class="remove button">REMOVE <i class="fa fa-trash-o"></i></button>
    <br>
    <input type="checkbox" class="completed"><h3>MARK AS COMPLETED</h3>

</script>





<%#= yield %>
<header></header>
<main></main>

<script type="text/x-underscore-template" id="sign-up-template">
<div> 
  <div>
      <h2>Sign up</h2>
      <div class="alert hide">
        <ul></ul>
      </div>
      <div class="form-group  well">
        <div class="form-group">
          <label>Email address</label>
          <input class="form-control" type="text" name="email" placeholder="email"/>
      </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password" placeholder="password" />
        </div>
        <div class="form-group">
          <label>Password confirmation</label>
          <input class="form-control" type="password" name="password_confirmation" placeholder="password confirmation" />
        </div>
        <div class="form-group">
          <button class="btn btn-default" id="signup">Sign up</button>
        </div>
      </div>
    </div>
  </div>
</script>








<script id="appView" type="text/x-underscore-template">
  <div id="nav-header">

    <div id="social-icon-header">
      <a href="https://instagram.com/before_ikickit/" id="heading-icons"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/Before_IKickIt" id="heading-icons"><i class="fa fa-twitter"></i></a>
      <a href="https://twitter.com/Before_IKickIt" id="heading-icons"><i class="fa fa-facebook"></i></a>
    </div>
      
      <h1>before i kick it</h1>
  </div>

  <div id="nav-bar">
    <a href="#" id="heading">HOME</a>
    <a href="#about" id="heading">ABOUT</a>
    <a href="/prints" id="heading">BUCKET LIST</a>
    <a href="/prints" id="heading">PRINTS</a>
  </div>

      <!-- to output login form OR user details and logout button -->
      <div id="user">



    <div id="main">
    </div>

    <div id="footer">
    </div>

</script>

<!-- HOME VIEW -->


<script id="homeView" type="text/x-underscore-template">
  <div class="home-view">
    <h3 id="page-heading">Latest Reviews...</h3>

    <ul id="reviews">
    </ul>
  </div>
</script>




<script id="loggedOutView" type="text/x-underscore-template">
  <form id="login">
    <label>Login here:</label>
    <input type="text" id="email" placeholder="email" required>
    <input type="password" id="password" placeholder="password" required>
    <button>Login</button>
  </form>
  <a href="#users/signup" class="register">Register</a>
</script>


<script id="loggedInView" type="text/x-underscore-template">
  <p>logged in as: <button id="logout">Logout</button></p>
</script>


<div id="homepage">
  <div id="homepage-block1">
<!--     <%= image_tag("frontpage1.jpg", :alt => "photo-card-examples", :class => "frontpage-photos") %>
    <%= image_tag("frontpage2.jpg", :class => "frontpage-photos") %>
    <%= image_tag("frontpage3.jpg", :class => "frontpage-photos") %>
    <%= image_tag("frontpage4.jpg", :alt => "photo-card-examples", :class => "frontpage-photos") %> -->
    <h1>some text can go here</h1>
    <p>a site for storing, collecting, and cherishing your favourite moments</p>
  </div>

  <div id="homepage-block2">
    <h1>save and store</h1>
    <h3>LOREM IPSUM HERE</h3>
    <p>log your future bucket list items, and mark them as accomplished once they’re complete. when you’ve crossed an item off your list, upload a photo so you never forget your favourite moments.</p>
  </div>

  <div id="homepage-block3">
    <h1>print and share</h1>
    <h3>LOREM IPSUM HERE</h3>
    <p>turn your favourite bucket list moments into beautiful prints</p>
  </div>

</div>

<footer>
  <div id="social-media-footer">
    <a href="https://instagram.com/before_ikickit/" id="heading"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/Before_IKickIt" id="heading"><i class="fa fa-twitter"></i></a>
    <a href="https://twitter.com/Before_IKickIt" id="heading"><i class="fa fa-facebook"></i></a>
  </div>
  <div id="footer-nav">
    <a href="#" id="heading">HOME /</a>
    <a href="#about" id="heading">ABOUT /</a>
    <a href="/prints" id="heading">BUCKET LIST /</a>
    <a href="/prints" id="heading">PRINTS</a>
  </div>
</footer>



</body>
</html>
